[submodule "arty/usb/sw/foboot"]
	path = arty/usb/foboot
	url = https://github.com/TomKeddie/foboot.git
[submodule "arty/usb/picorv32"]
	path = arty/usb/picorv32
	url = https://github.com/cliffordwolf/picorv32/
[submodule "icebreaker/pmod7/hw/litex-buildenv"]
	path = icebreaker/pmod7/hw/litex-buildenv
	url = https://github.com/timvideos/litex-buildenv.git
